<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='reservation'">
<head>
<title>[[#{reservation.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{reservation.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="reservationTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{reservation.list.numero}]]</th>
							<th>[[#{reservation.list.statut}]]</th>
							<th>[[#{reservation.list.tarif}]]</th>
							<th>[[#{reservation.list.tauxTVA}]]</th>
							<th>[[#{reservation.list.dateReservation}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="maReservation : ${mesReservations}">
							<td th:text="${maReservation.id}"></td>
							<td>[[${maReservation.numero}]]</td>
							<td><span th:if="${maReservation.statut == true}" th:text="#{reservation.form.ouvert}" ></span>
								<span th:if="${maReservation.statut == false}" th:text="#{reservation.form.ferme}" ></span></td>
							<td>[[${maReservation.tarif}]]</td>
							<td>[[${maReservation.tauxTVA}]]</td>
							<td>[[${#dates.format(maReservation.dateReservation, 'dd/MM/yyyy')}]]</td>
							<td><a th:href="@{/reservation/edit(id=${maReservation.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/reservation/delete/{id}(id=${maReservation.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/reservation/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>