<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientParticulier'"> <!-- Changer tous les << maPage >>, << mail >> et << monClient >> -->
<head>
<title>[[#{client.formParticulier.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="monClientParticulierEdit" class="card mt-5">
			<form th:action="@{/clientParticulier/saveParticulier}" method="post">
				<input type="hidden" name="version" th:value="${monClient.version}" />
				<div class="card-header">
					<h5>[[#{client.formParticulier.title}]]</h5>
				</div>
				<div class="card-body">
					
					<div class="form-group">
						<label for="id">[[#{client.formParticulier.id}]]:</label>
						<input type="number" class="form-control" id="id" name="id" th:value="${monClient.id}" required readonly>
					</div>
					
					<div class="form-group">
						<label for="mail">[[#{client.formParticulier.mail}]]:</label>
						<input type="text" class="form-control" id="mail" name="mail" th:value="${monClient.mail}">
						<span class="text-danger" th:errors="${monClient.mail}"></span>
					</div>
					
					<div class="form-group">
						<label for="telephone">[[#{client.formParticulier.telephone}]]:</label>
						<input type="text" class="form-control" id="telephone" name="telephone" th:value="${monClient.telephone}">
						<span class="text-danger" th:errors="${monClient.telephone}"></span>
					</div>
					
					<div class="form-group">
						<label for="moyenPaiement">[[#{client.formParticulier.moyenPaiement}]]:</label><select
							class="form-control" id="moyenPaiement" name="moyenPaiement">
							<option th:each="mp : ${moyenpaiements}" th:value="${mp}" th:selected="${mp==monClient.moyenPaiement}">[[#{${mp.label}}]]</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="civilite">[[#{client.formParticulier.civilite}]]:</label><select
							class="form-control" id="civilite" name="civilite">
							<option th:each="civ : ${civilites}" th:value="${civ}" th:selected="${civ==monClient.civilite}">[[#{${civ.label}}]]</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="nom">[[#{client.formParticulier.nom}]]:</label>
						<input type="text" class="form-control" id="nom" name="nom" th:value="${monClient.nom}">
						<span class="text-danger" th:errors="${monClient.nom}"></span>
					</div>
					
					<div class="form-group">
						<label for="prenom">[[#{client.formParticulier.prenom}]]:</label>
						<input type="text" class="form-control" id="prenom" name="prenom" th:value="${monClient.prenom}">
						<span class="text-danger" th:errors="${monClient.prenom}"></span>
					</div>
					
					<div class="form-group">
						<label for="voie">[[#{client.formParticulier.voie}]]:</label> <input type="text"
							class="form-control" id="principale.voie" name="principale.voie"
							th:value="${principale?.voie}"> <span
							class="text-danger" th:errors="${monClient.principale}"></span>
					</div>
					<div class="form-group">
						<label for="complement">[[#{client.formParticulier.complement}]]:</label> <input type="text"
							class="form-control" id="principale.complement" name="principale.complement"
							th:value="${principale?.complement}"> <span
							class="text-danger" th:errors="${monClient.principale}"></span>
					</div>
					<div class="form-group">
						<label for="codePostal">[[#{client.formParticulier.codePostal}]]:</label> <input type="text"
							class="form-control" id="principale.codePostal" name="principale.codePostal"
							th:value="${principale?.codePostal}"> <span
							class="text-danger" th:errors="${monClient.principale}"></span>
					</div>
					<div class="form-group">
						<label for="ville">[[#{client.formParticulier.ville}]]:</label> <input type="text"
							class="form-control" id="principale.ville" name="principale.ville"
							th:value="${principale?.ville}"> <span
							class="text-danger" th:errors="${monClient.principale}"></span>
					</div>
					<div class="form-group">
						<label for="pays">[[#{client.formParticulier.pays}]]:</label> <input type="text"
							class="form-control" id="principale.pays" name="principale.pays"
							th:value="${principale?.pays}"> <span
							class="text-danger" th:errors="${monClient.principale}"></span>
					</div>
					
					
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/clientParticulier/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>