<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='clientParticulier'">
<head>
<title>[[#{client.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{clientParticulier.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="clientParticulierTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{client.list.mail}]]</th>
							<th>[[#{client.list.telephone}]]</th>
							<th>[[#{client.list.moyenPaiement}]]</th>
							<th>[[#{client.list.civilite}]]</th>
							<th>[[#{client.list.nom}]]</th>
							<th>[[#{client.list.prenom}]]</th>
							<th>[[#{client.list.voie}]]</th>
							<th>[[#{client.list.complement}]]</th>
							<th>[[#{client.list.codePostal}]]</th>
							<th>[[#{client.list.ville}]]</th>
							<th>[[#{client.list.pays}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="monClient : ${mesClients}">
							<td th:text="${monClient.id}"></td>
							<td>[[${monClient.mail}]]</td>
							<td>[[${monClient.telephone}]]</td>
							<td><span th:if="${monClient.moyenPaiement != null}" th:text="#{${monClient.moyenPaiement?.label}}"></span></td>
							<td><span th:if="${monClient.civilite != null}" th:text="#{${monClient.civilite?.label}}"></span></td>
							<td>[[${monClient.nom}]]</td>
							<td>[[${monClient.prenom}]]</td>
							<td>[[${client.principale?.voie}]]</td> 
							<td>[[${client.principale?.complement}]]</td>
							<td>[[${client.principale?.codePostal}]]</td>
							<td>[[${client.principale?.ville}]]</td>
							<td>[[${client.principale?.pays}]]</td>
							<td><a th:href="@{/clientParticulier/editParticulier(id=${monClient.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/clientParticulier/delete/{id}(id=${monClient.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/clientParticulier/addParticulier}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>