<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='compagnie'">
<head>
<title>[[#{compagnie.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{compagnie.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="compagnieTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{compagnie.list.nomCompagnie}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="maCompagnie : ${mesCompagnies}">
							<td th:text="${maCompagnie.id}"></td>
							<td>[[${maCompagnie.nomCompagnie}]]</td>
							<td><a th:href="@{/compagnie/edit(id=${maCompagnie.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/compagnie/delete/{id}(id=${maCompagnie.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/compagnie/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>