<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientPro'"> <!-- Changer tous les << maPage >>, << numeroSiret >> et << monObjet >> -->
<head>
<title>[[#{client.formPro.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="clientProtEdit" class="card mt-5">
			<form th:action="@{/clientPro/savePro}" method="post">
				<input type="hidden" name="version" th:value="${monClient.version}" />
				<div class="card-header">
					<h5>[[#{client.formPro.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{client.formPro.id}]]:</label>
						<input type="number" class="form-control" id="id" name="id" th:value="${monClient.id}" required readonly>
					</div>
					
					<div class="form-group">
						<label for="mail">[[#{client.formPro.mail}]]:</label>
						<input type="text" class="form-control" id="mail" name="mail" th:value="${monClient.mail}">
						<span class="text-danger" th:errors="${monClient.mail}"></span>
					</div>
					
					<div class="form-group">
						<label for="telephone">[[#{client.formPro.telephone}]]:</label>
						<input type="text" class="form-control" id="telephone" name="telephone" th:value="${monClient.telephone}">
						<span class="text-danger" th:errors="${monClient.telephone}"></span>
					</div>
					
					<div class="form-group">
						<label for="moyenPaiement">[[#{client.formPro.moyenPaiement}]]:</label><select
							class="form-control" id="moyenPaiement" name="moyenPaiement">
							<option th:each="mp : ${moyenpaiements}" th:value="${mp}" th:selected="${mp==monClient.moyenPaiement}">[[#{${mp.label}}]]</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="numeroSiret">[[#{client.formPro.numeroSiret}]]:</label>
						<input type="number" class="form-control" id="numeroSiret" name="numeroSiret" th:value="${monClient.numeroSiret}">
						<span class="text-danger" th:errors="${monClient.numeroSiret}"></span>
					</div>
					
					<div class="form-group">
						<label for="nomEntreprise">[[#{client.formPro.nomEntreprise}]]:</label>
						<input type="text" class="form-control" id="nomEntreprise" name="nomEntreprise" th:value="${monClient.nomEntreprise}">
						<span class="text-danger" th:errors="${monClient.nomEntreprise}"></span>
					</div>
					
					<div class="form-group">
						<label for="numTVA">[[#{client.formPro.numTVA}]]:</label>
						<input type="text" class="form-control" id="numTVA" name="numTVA" th:value="${monClient.numTVA}">
						<span class="text-danger" th:errors="${monClient.numTVA}"></span>
					</div>
					
					<div class="form-group">
						<label for="typeEntreprise">[[#{client.formPro.typeEntreprise}]]:</label><select
							class="form-control" id="typeEntreprise" name="typeEntreprise">
							<option th:each="te : ${typeentreprises}" th:value="${te}" th:selected="${te==monClient.typeEntreprise}">[[#{${te.label}}]]</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="voie">[[#{client.formPro.voie}]]:</label> <input type="text"
							class="form-control" id="facturation.voie" name="facturation.voie"
							th:value="${facturation?.voie}"> <span
							class="text-danger" th:errors="${monClient.facturation}"></span>
					</div>
					<div class="form-group">
						<label for="complement">[[#{client.formPro.complement}]]:</label> <input type="text"
							class="form-control" id="facturation.complement" name="facturation.complement"
							th:value="${facturation?.complement}"> <span
							class="text-danger" th:errors="${monClient.facturation}"></span>
					</div>
					<div class="form-group">
						<label for="codePostal">[[#{client.formPro.codePostal}]]:</label> <input type="text"
							class="form-control" id="facturation.codePostal" name="facturation.codePostal"
							th:value="${facturation?.codePostal}"> <span
							class="text-danger" th:errors="${monClient.facturation}"></span>
					</div>
					<div class="form-group">
						<label for="ville">[[#{client.formPro.ville}]]:</label> <input type="text"
							class="form-control" id="facturation.ville" name="facturation.ville"
							th:value="${facturation?.ville}"> <span
							class="text-danger" th:errors="${monClient.facturation}"></span>
					</div>
					<div class="form-group">
						<label for="pays">[[#{client.formPro.pays}]]:</label> <input type="text"
							class="form-control" id="facturation.pays" name="facturation.pays"
							th:value="${facturation?.pays}"> <span
							class="text-danger" th:errors="${monClient.facturation}"></span>
					</div>
					
					
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/clientPro/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>