<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='clientPro'">
<head>
<title>[[#{client.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{clientPro.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="clientProTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{client.list.mail}]]</th>
							<th>[[#{client.list.telephone}]]</th>
							<th>[[#{client.list.moyenPaiement}]]</th>
							<th>[[#{client.list.numeroSiret}]]</th>
							<th>[[#{client.list.nomEntreprise}]]</th>
							<th>[[#{client.list.numTVA}]]</th>
							<th>[[#{client.list.typeEntreprise}]]</th>
							<th>[[#{client.list.voie}]]</th>
							<th>[[#{client.list.complement}]]</th>
							<th>[[#{client.list.codePostal}]]</th>
							<th>[[#{client.list.ville}]]</th>
							<th>[[#{client.list.pays}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="monClient : ${mesClients}">
							<td th:text="${monClient.id}"></td>
							<td>[[${monClient.mail}]]</td>
							<td>[[${monClient.telephone}]]</td>
							<td><span th:if="${monClient.moyenPaiement != null}" th:text="#{${monClient.moyenPaiement?.label}}"></span></td>
							<td>[[${monClient.numeroSiret}]]</td>
							<td>[[${monClient.nomEntreprise}]]</td>
							<td>[[${monClient.numTVA}]]</td>
							<td><span th:if="${monClient.typeEntreprise != null}" th:text="#{${monClient.typeEntreprise?.label}}"></span></td>
							<td>[[${client.facturation?.voie}]]</td> 
							<td>[[${client.facturation?.complement}]]</td>
							<td>[[${client.facturation?.codePostal}]]</td>
							<td>[[${client.facturation?.ville}]]</td>
							<td>[[${client.facturation?.pays}]]</td>
							<td><a th:href="@{/clientPro/editPro(id=${monClient.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/clientPro/delete/{id}(id=${monClient.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/clientPro/addPro}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>