<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='maPage'"> <!-- Changer tous les << maPage >>, << attribut >> et << monObjet >> -->
<head>
<title>[[#{maPage.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="monObjetEdit" class="card mt-5">
			<form th:action="@{/maPage/save}" method="post">
				<input type="hidden" name="version" th:value="${monObjet.version}" />
				<div class="card-header">
					<h5>[[#{maPage.form.title}]]</h5>
				</div>
				<div class="card-body">

					
					<div class="form-group">
						<label for="attribut">[[#{maPage.form.attribut}]]:</label>
						<input type="text" class="form-control" id="attribut" name="attribut" th:value="${monObjet.attribut}">
						<span class="text-danger" th:errors="${monObjet.attribut}"></span>
					</div>
					
					
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{maPage/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>