<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='maPage'">
<head>
<title>[[#{maPage.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{maPage.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="maPageTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{maPage.list.attribut}]]</th>
							<th>[[#{maPage.list.attribut}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="monObjet : ${mesObjets}">
							<td th:text="${monObjet.id}"></td>
							<td>[[${monObjet.attribut}]]</td>
							<td>[[${monObjet.attribut}]]</td>
<!-- 							<td><span th:if="${monObjet.civilite != null}" th:text="#{${monObjet.civilite?.label}}"></span></td> -->					
<!-- 							<td>[[${#dates.format(monObjet.dtEmbauche, 'dd/MM/yyyy')}]]</td> -->
							<td><a th:href="@{/maPage/edit(id=${monObjet.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/maPage/delete/{id}(id=${monObjet.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/maPage/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>