<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='aeroport'"> <!-- Changer tous les << maPage >>, << attribut >> et << monObjet >> -->
<head>
<title>[[#{aeroport.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="monAeroportEdit" class="card mt-5">
			<form th:action="@{/aeroport/save}" method="post">
				<input type="hidden" name="version" th:value="${monAeroport.version}" />
				<div class="card-header">
					<h5>[[#{aeroport.form.title}]]</h5>
				</div>
				<div class="card-body">

					
					<div class="form-group">
						<label for="code">[[#{aeroport.form.code}]]:</label>
						<input type="text" class="form-control" id="code" name="code" required th:value="${monAeroport.code}">
						<span class="text-danger" th:errors="${monAeroport.code}"></span>
					</div>
					
					
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/aeroport/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>