<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='vol'"> <!-- Changer tous les << maPage >>, << attribut >> et << monObjet >> -->
<head>
<title>[[#{vol.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="monVolEdit" class="card mt-5">
			<form th:action="@{/vol/save}" method="post">
				<input type="hidden" name="version" th:value="${monVol.version}" />
				<div class="card-header">
					<h5>[[#{vol.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="numero">[[#{vol.form.id}]]:</label>
						<input type="text" class="form-control" id="id" name="id" required th:value="${monVol.id}" readonly>
						<span class="text-danger" th:errors="${monVol.id}"></span>
					</div>	
					<div class="form-group">
						<label for="numero">[[#{vol.form.numero}]]:</label>
						<input type="text" class="form-control" id="numero" name="numero" th:value="${monVol.numero}">
						<span class="text-danger" th:errors="${monVol.numero}"></span>
					</div>
					<div class="form-group">
						<label for="dateDepart">[[#{vol.form.dateDepart}]]:</label>
						<input type="date" class="form-control" id="dateDepart" name="dateDepart" th:value="${monVol.dateDepart}">
						<span class="text-danger" th:errors="${monVol.dateDepart}"></span>
					</div>
					<div class="form-group">
						<label for="dateArrivee">[[#{vol.form.dateArrivee}]]:</label>
						<input type="date" class="form-control" id="dateArrivee" name="dateArrivee" th:value="${monVol.dateArrivee}">
						<span class="text-danger" th:errors="${monVol.dateArrivee}"></span>
					</div>
					<div class="form-check form-check-inline">
 						 <input class="form-check-input" type="radio" name="ouvert" id="ouvert" th:value="${monVol.ouvert=true}">
						  <label class="form-check-label" for="ouvert">[[#{vol.form.ouvert}]]</label>
					</div>
					<div class="form-check form-check-inline">
 						 <input class="form-check-input" type="radio" name="ouvert" id="ouvert" th:value="${monVol.ouvert=false}">
  						<label class="form-check-label" for="fermé">[[#{vol.form.ferme}]]</label>
					</div>
					<div class="form-group">
						<label for="nbPlaces">[[#{vol.form.nbPlaces}]]:</label>
						<input type="number" class="form-control" id="nbPlaces" name="nbPlaces" th:value="${monVol.nbPlaces}">
						<span class="text-danger" th:errors="${monVol.nbPlaces}"></span>
					</div>
					<div class="form-group">
						<label for=formation>[[#{vol.form.compagnie}]]:</label><select
							class="form-control" id="compagnie.id" name="compagnie.id" th:value="${monVol.compagnie?.id}">
							<option th:each="compagnie : ${compagnies}" th:value="${compagnie.id}"
								th:selected="${compagnie.id==monVol.compagnie?.id}">[[${compagnie.id}]] [[${compagnie.nomCompagnie}]]</option>
						</select> <span class="text-danger" th:errors="${monVol.compagnie.id}"></span>
					</div>
					<div class="form-group">
						<label for=formation>[[#{vol.form.depart}]]:</label><select
							class="form-control" id="depart.code" name="depart.code" th:value="${monVol.depart?.code}">
							<option th:each="depart : ${aeroports}" th:value="${depart.code}"
								th:selected="${depart.code==monVol.depart?.code}">[[${depart.code}]]</option>
						</select> <span class="text-danger" th:errors="${monVol.depart.code}"></span>
					</div>
					<div class="form-group">
						<label for=formation>[[#{vol.form.arrivee}]]:</label><select
							class="form-control" id="arrivee.code" name="arrivee.code" th:value="${monVol.arrivee?.code}">
							<option th:each="arrivee : ${aeroports}" th:value="${arrivee.code}"
								th:selected="${arrivee.code==monVol.arrivee?.code}">[[${arrivee.code}]]</option>
						</select> <span class="text-danger" th:errors="${monVol.arrivee.code}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/vol/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>