<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='vol'">
<head>
<title>[[#{vol.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{vol.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="volTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{vol.list.numero}]]</th>
							<th>[[#{vol.list.dateDepart}]]</th>
							<th>[[#{vol.list.dateArrivee}]]</th>
							<th>[[#{vol.list.ouvert}]]</th>
							<th>[[#{vol.list.nbPlaces}]]</th>
							<th>[[#{vol.list.compagnie}]]</th>
							<th>[[#{vol.list.depart}]]</th>
							<th>[[#{vol.list.arrivee}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="monVol : ${mesVols}">
							<td th:text="${monVol.id}"></td>
							<td>[[${monVol.numero}]]</td>
							<td>[[${#dates.format(monVol.dateDepart,'dd/MM/yyyy')}]]</td>
							<td>[[${#dates.format(monVol.dateArrivee,'dd/MM/yyyy')}]]</td>
							<td><span th:if="${monVol.ouvert == true}" th:text="#{vol.form.ouvert}"></span>
								<span th:if="${monVol.ouvert == false}" th:text="#{vol.form.ferme}"></span></td>
							<td>[[${monVol.nbPlaces}]]</td>
							<td>[[${monVol.compagnie?.id}]] [[${monVol.compagnie?.nomCompagnie}]]</td>
							<td>[[${monVol.depart?.code}]]</td>
							<td>[[${monVol.arrivee?.code}]]</td>
							<td><a th:href="@{/vol/edit(id=${monVol.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/vol/delete/{id}(id=${monVol.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/vol/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>