<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='ville'">
<head>
<title>[[#{ville.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{ville.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="villeTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{ville.list.nom}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="maVille : ${mesVilles}">
							<td th:text="${maVille.id}"></td>
							<td>[[${maVille.nom}]]</td>
							<td><a th:href="@{/ville/edit(id=${maVille.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/ville/delete/{id}(id=${maVille.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/ville/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>