<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='voyage'">

<head>
<title>[[#{voyage.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="monVoyageEdit" class="card mt-5">
			<form th:action="@{/voyage/save}" method="post">
				<input type="hidden" name="version"
					th:value="${monVoyage.version}" />
				<div class="card-header">
					<h5>[[#{voyage.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{voyage.form.id}]]:</label> <input
							type="number" class="form-control" id="id" name="id" required
							th:value="${monVoyage.id}" readonly> <span
							class="text-danger" th:errors="${monVoyage.id}"></span>
					</div>
					


				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/voyage/cancel}"
							class="btn btn-warning text-white"> <i
							class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>