<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='voyage'">
<head>
<title>[[#{voyage.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{voyage.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="voyageTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
						<!-- 	<th>[[#{voyage.list.numero}]]</th> -->
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="monVoyage : ${mesVoyages}">
							<td th:text="${monVoyage.id}"></td>
							
							<td><a th:href="@{/voyage/edit(id=${monVoyage.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/voyage/delete/{id}(id=${monVoyage.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/voyage/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>